@{
    ViewBag.Title = "Home Page";
}



<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row">
                    <div class="col"><img src="~/images/onlinelogomaker-101321-0801-1655.svg" alt="Los Angeles" width="400" height="400"></div>
                    <div class="col"><div style="font-size: 60px; margin-top: 165px;">Post a vacancy</div></div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row">
                    <div class="col"><img src="~/images/onlinelogomaker-101321-1201-6488-2000-transparent.png" alt="Los Angeles" width="400" height="400"></div>
                    <div class="col"><div style="font-size: 60px; margin-top: 165px;">Look for jobs</div></div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row">
                    <div class="col"><img src="~/images/onlinelogomaker-101321-1207-0235.svg" alt="Los Angeles" width="400" height="400"></div>
                    <div class="col"><div style="font-size: 60px; margin-top: 165px;">Choose & Apply</div></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>










<div class="row" style="margin-top: 100px; margin-bottom: 50px;">
    <div class="col-md-5 text-center">
        <img class="" style="height: 350px;" src="~/images/onlinelogomaker-092221-2244-3884.svg">
    </div>
    <div class="col-md-7" style="color: #1ba94c; padding-top: 50px;">
        <h1 style="font-size: 45px;">JobFinder,</h1>
        <p class="lead" style="font-size: 30px; padding-top: 25px;">A place where you are one step away from your dream job or recruiting the right candidate!</p>
    </div>
</div>

<div style="background-color: #1ba94c; margin-top: 100px; padding-bottom: 75px; padding-top: 75px;">
    <h2 style="color: white; text-align: center; font-size: 40px; padding-top: 20px; padding-bottom: 15px; margin-bottom: 35px;">Looking for a job?</h2>
    <div class="row text-center">
        <div class="col-md-4" style="">
            <img class="" style="height: 100px;" src="~/images/onlinelogomaker-092221-2327-5500.svg">
            <p style="color: white; font-size: 28px; ">
                Create an account
            </p>
        </div>
        <div class="col-md-4" style="">
            <img class="" style="height: 100px;" src="~/images/onlinelogomaker-092221-2334-5982.png">
            <p style="color: white; font-size: 28px;">
                Search for jobs
            </p>
        </div>
        <div class="col-md-4" style="">
            <img class="" style="height: 100px;" src="~/images/onlinelogomaker-092221-2343-8869.png">
            <p style="color: white; font-size: 28px;">
                Apply to jobs you like
            </p>
        </div>
    </div>
</div>


<div style=" margin-top: 50px; padding-bottom: 75px; padding-top: 50px;">
    <h2 style="color: #1ba94c; text-align: center; font-size: 40px; padding-top: 20px; padding-bottom: 15px; margin-bottom: 35px;">Looking to hire?</h2>
    <div class="row text-center">
        <div class="col-md-4" style="">
            <img class="" style="height: 100px;" src="~/images/onlinelogomaker-092221-2355-3250.png">
            <p style="color: #1ba94c; font-size: 28px; ">
                Post a vacancy
            </p>
        </div>
        <div class="col-md-4" style="">
            <img class="" style="height: 100px;" src="~/images/onlinelogomaker-092321-0009-0984.svg">
            <p style="color: #1ba94c; font-size: 28px;">
                See who applied
            </p>
        </div>
        <div class="col-md-4" style="">
            <img class="" style="height: 100px;" src="~/images/onlinelogomaker-092321-0014-1463.png">
            <p style="color: #1ba94c; font-size: 28px;">
                Contact the applicants
            </p>
        </div>
    </div>
</div>